body {font-family: Verdana, Geneva, Tahoma, sans-serif;}
 




.boton_personalizado
{   text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #030303;
    background-color: #cd65d61a;
    border-radius: 6px;
    border: 2px solid #01020a;
    flex-direction: row-reverse;

}